<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kagi - 404</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="main">
    <%- include("../partials/header.ejs") %>
    <div class="app">
        <h1>404 - Resource not found</h1>
        <a href="/app">Return to Home</a>
    </div>
</div>
</body>
</html>