<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kagi (admin) - Books</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class='main'>
    <%- include("../../partials/header.ejs") %>
    <%- include("../../partials/navbar.ejs") %>

    <div class='app'>
        <h2>All Books</h2>
        <table>
            <tr><th>Book ID</th><th>Original Title</th><th>Localized Title</th><th>Author</th><th>Publish Date</th><th>Status</th><th>Age Range</th></tr>
            <%- Array.from(books.values()).map(book => book.asHtmlRow()).join('') %>
        </table>
    </div>
</div>
</body>
</html>
