<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kagi - Sign Up Failed</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="main">
    <%- include("../partials/header.ejs") %>
    <div class="app">
        <h1>Failed to sign up</h1>
        <p>User already exists</p>
        <a href="/auth/signup">Return to Sign Up</a>
    </div>
</div>
</body>
</html>