<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Kagi - Sign Up Success</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="main">
            <%- include("../partials/header.ejs") %>
            <div class="app">
                <h1>Successfully signed up!</h1>
                <a href="/auth/login">Return to Login Page</a>
            </div>
        </div>
    </body>
</html>