<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kagi (admin) - Users</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class='main'>
    <%- include("../../partials/header.ejs") %>
    <%- include("../../partials/navbar.ejs") %>

    <div class='app'>
        <h2>All Users</h2>
        <table>
            <tr><th>User ID</th><th>Username</th> <th>Password</th> <th>Rentals</th></tr>
            <%- (function (){
                if (users.length === 0) return 'No users in db';
                else return Array.from(users.values()).map(user => {
                    return `<tr><td><a href="/app/user/${user.id}">${user.id}</a></td><td>${user.username}</td><td>${user.password}</td><td>`
                            + (user.rentals?.map(rental => `<a href="/app/book/${rental.bookId}">${rental.bookId}</a> - Due ${rental.dueDate}`).join('\n') ?? 'No active rentals')
                            + '</td></tr>';
                }).join('');
            })() %>
        </table>
    </div>
</div>
</body>
</html>
